$search-gutter: calculateRem(10px);
$search-columns-margin-top: calculateRem(5px);
$search-columns-margin-bottom: calculateRem(15px);
.search {
	background: #fff;
    padding: calculateRem(10px) calculateRem(5px);
}
.search_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search_destination,
    .seach_date,
    .search_pax {
        margin-bottom: $search-columns-margin-bottom;
    }
.search_destination {
    flex-basis: 100%;
    padding: 0 $search-gutter;
    box-sizing: border-box;
    position: relative;
}
.seach_date {
    flex-basis: 100%;
    display: flex;
    padding: 0 $search-gutter;
    box-sizing: border-box;
    .control-filed_input.is-focused,
    .control-filed_input-element {
        &:focus {
            border-bottom: 2px solid $c-secundary
        }
    }
}
.search_date-control1 {
    flex: 1 0 50%;
    position: relative;
    &::before {
        content: '-';
        position: absolute;
        right: calculateRem(-2px);
    }
}
.search_date-control2 {
	flex: 1 0 48%;
	.control-field_icon {
		display: none;
	}
}
.search_pax {
    display: flex;
    flex-basis: 100%;
    padding: 0 $search-gutter;
    box-sizing: border-box;
}
.search_pax-control1 {
    flex: 1 0 50%;
    padding-right: calculateRem(20px);
    box-sizing: border-box;
}
.search_pax-control2 {
	flex: 1 0 50%;
	.control-field_icon {
		display: none;
	}
}
.search_action {
    flex-basis: 100%;
    padding: 0 $search-gutter;
    box-sizing: border-box;
}
.search_action-button {
    width: 100%;
}
.search_close {
    padding: 0 $search-gutter;
    box-sizing: border-box;
}
.search_close-button {
    @include font-size(22px);
}
.control-filed_container {
    display: flex;
}
.control-field_icon {
    @include font-size($f-size-md-xl);
    margin-right: calculateRem(10px);
    color: $c-color2;
}
.control-filed_input {
    flex-grow: 1;
}
.control-filed_input-element {
    @include font-size($f-size);
    min-height: calculateRem(18px);
    width: 100%;
    border: 0;
    border-bottom: 1px solid $c-border;
    box-shadow: none;
    &,
    &::placeholder {
        color: #000;
    }
}

// search results
$search-destination-results-nav-ul-gutter: 20px;
$search-destination-results-item-button-padding-left: 15px;
$search-destination-results-item-button-padding-top: 12px;
.search_destination-results {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: calculateRem(10px);
    background: #fff;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &::before {
        @include triangle(
           'up',
            20px,
            15px,
            #fff
        );
        content: '';
        position: absolute;
        top: calculateRem(-14px);
        left: calculateRem(40px);
    }
}
.search_destination-results_nav {
    max-height: 60vh;
    overflow-y: auto;
    ul {
        border-bottom: 1px solid $c-border;
        padding-bottom: calculateRem($search-destination-results-nav-ul-gutter);
        margin-bottom: calculateRem($search-destination-results-nav-ul-gutter);
        &:first-child {
            margin-top: calculateRem($search-destination-results-nav-ul-gutter);
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}
.search_destination-results_item_button {
    position: relative;
    width: 100%;
    padding: calculateRem($search-destination-results-item-button-padding-top) calculateRem($search-destination-results-item-button-padding-left);
    padding-left: calculateRem(37px);
    text-align: left;
    box-sizing: border-box;
    &:hover {
        background: $c-color1;
    }
    .results_item-icon {
        position: absolute;
        left: calculateRem($search-destination-results-item-button-padding-left);
        top: calculateRem($search-destination-results-item-button-padding-top);  
    }
}
div.search_destination-results_item_button { 
    padding-left: $search-destination-results-item-button-padding-left;
    &:hover { background: transparent; }
}
// Mediaquerie Full screen
@media #{$until-mobile} { // < 640px
    .search-open-from-header,
    .search-open-from-navigation {
        overflow: hidden;
        .page-wrap {
            overflow: hidden;
            max-height: 100%;
        }
        // full screen search
        .search {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            z-index: 2;
        }
        .search_close {
            order: -1;
            flex-basis: 100%;
            margin-bottom: calculateRem(25px);
            border-bottom: 1px solid $c-border;
            text-align: right;
            padding-top: calculateRem(15px);
            padding-bottom: calculateRem(15px);
        }
    }
}
@media #{$mobile} { // >= 640px
    .search_action {
        flex-basis:auto;
    }
}
@media #{$desktop} { // >= 1200px    
    .search_content {
        flex-wrap: nowrap;
    }
    .search_destination,
    .seach_date,
    .search_pax {
        margin-top: $search-columns-margin-top;
        margin-bottom: 0;
    }
    .search_destination {
        flex: 1 0 40%;
    }
    .seach_date,
    .search_pax {
        flex: 1 0 20%;
    }
    .search_destination-results {
        margin-top: calculateRem(30px);
    }
}
